.steps{
    width: 700px;
    margin: 100px auto auto auto;
}
.step{
    width: 60px;
    height: 60px;
    z-index: 2;
}
.step_line{
    width: calc(100% / 3 - 60px);
    height: 30px;
    margin: 0 -10px 0 -10px;
    border-top: 10px solid #FFF;
    border-bottom: 10px solid #FFF;
}
.active-step{
    border: 2px solid #FF5F59;
    color: #FF5F59;
}
.success-step{
    border: 2px solid #1777FB;
    color: #1777FB;
}
.success-step-line{
    background-color:  #1777FB;
}
